@page "/ej09"
@rendermode InteractiveServer

<PageTitle>ejercicio 9</PageTitle>

<h3>ejercicio 9</h3>

<p>Calcular el factorial</p>

<div class="form-group">
    <label for="txNumero">Numero</label>
    <input type="number" class="form-control" id="txNumero" @bind="numero" />
</div>
<div class="form-group">
    <button class="btn btn-primary" @onclick="Calcular">Verificar</button>
</div>
<div>
    El factorial es: @resultado
</div>


@code{
    private int numero;
    private int  resultado;
    

    private void Calcular (){
        resultado = Factorial(numero);
    }
    private int Factorial(int n){
        if (n == 0 || n == 1){
            return 1;
        }else{
            return n * Factorial(n - 1);
        }
    }
}