@inherits LayoutComponentBase

<div class="container">
    <header class="border-bottom">
        <div class="container">
         <a href="/" class="linkMudo">
         <h1>Tarea 2</h1></a>   
        </div>
    </header>

    <div id="divMain">
        @Body
    </div>

    <footer class="border-top footer text-muted">
        <div class="">
            &copy; 2024 - Cristopher 5
        </div>
    </footer>

</div>