@page "/"

<PageTitle>Inicio</PageTitle>
<div class="text-end">
    <NavLink class="btn btn-primary" href="acerca_de">Acerca de</NavLink>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<section class="container pt-3 mb-3">
    <h2 class="h3 block-title text-center">Selececiona el ejercicio que quieres ver</h2>
    <div class="row pt-5 mt-30">
        @foreach (var ejercicio in Ejercicios){
            <div class="col-lg-4 col-sm-6 mb-30 pb-5">
                <a class="card" href="@ejercicio.Url">
                    <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 90px; height: 90px; margin-top: -45px;">
                    <i class="@ejercicio.Icono fa-3x head-icon"></i>
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title pt-1">@ejercicio.Titulo</h3>
                        <p class="card-text text-sm">@ejercicio.Descripcion</p>
                        <span class="text-sm text-uppercase font-weight-bold">Pruebalo<i class="fe-icon-arrow-right"></i></span>
                    </div>
                </a>
            </div>
        }

    </div>
</section>

@code{
    public class Ejercicio
{
    public string Titulo { get; set; } = "";
    public string Icono { get; set; } = "";
    public string Descripcion { get; set; } = "";
    public string Url { get; set; } = "";
}

    private List<Ejercicio> Ejercicios = new List<Ejercicio>
    {
        new Ejercicio { Titulo = "Ejercicio 1", Icono = "bi bi-repeat", Descripcion = "Construir una función que reciba como parámetro un entero y retorne su último dígito.", Url = "ej01" },
        new Ejercicio { Titulo = "Ejercicio 3", Icono = "bi bi-layers", Descripcion = "Construir una función que reciba como parámetro un entero y retorne la cantidad de dígitos.", Url = "ej03" },
        new Ejercicio { Titulo = "Ejercicio 5", Icono = "bi bi-cloud", Descripcion = "Construir una función que reciba como parámetro un entero y retorne la cantidad de dígitos primos.", Url = "ej05" },
        new Ejercicio { Titulo = "Ejercicio 7", Icono = "bi bi-terminal", Descripcion = "Construir una función que reciba como parámetro un entero y retorne el codigo ASCCI asociado a el.", Url = "ej07" },
        new Ejercicio { Titulo = "Ejercicio 9", Icono = "bi bi-code ", Descripcion = "Construir una función que reciba como parámetro un entero y Calcular el factorial.", Url = "ej09" },
        new Ejercicio { Titulo = "Ejercicio 11", Icono = "bi bi-braces ", Descripcion = "Construir una función que reciba como parámetro un entero y un digito y retorne 1 si dicho numero es multiplo de dicho digito y 0 si no es asi.", Url = "ej011" },
        new Ejercicio { Titulo = "Ejercicio 13", Icono = "bi bi-cpu ", Descripcion = "Construir una función que reciba como parámetro un entero y un digito y retorne la cantidad de veces que se encuentra dicho digito en un dicho entero.", Url = "ej013" },
        new Ejercicio { Titulo = "Ejercicio 15", Icono = "bi bi-hdd ", Descripcion = "Construir una función que reciba como parámetro dos entero y retorne 1 si el primer numero es multiplo del segundo y 0 si no.", Url = "ej015" },
        new Ejercicio { Titulo = "Ejercicio 17", Icono = "bi bi-folder ", Descripcion = "Construir una función que reciba como parámetro un entero y retorne 1 si corresponde al código ASCII de un dígito (Los códigos ASCII de las letras minúsculas van desde 48 que es el código del dígito 0 hasta 57 que es el código del dígito 9). Deberá retornar 0 si no es así.", Url = "ej017" },
        new Ejercicio { Titulo = "Ejercicio 19", Icono = "bi bi-file-earmark-code ", Descripcion = "Construir una función que reciba como parámetro un entero y retome 1 si dicho valor es un número de minimo 3 dígitos. Deberá retornar 0 si no es así.", Url = "ej019" },
        new Ejercicio { Titulo = "Ejercicio 21", Icono = "bi bi-diagram-2 ", Descripcion = "Construir una función que reciba como parámetro un entero y retorne 1 si en dicho valor el primer dígito es igual al último. Deberá retorna 0 si no es así", Url = "ej021" },
        new Ejercicio { Titulo = "Ejercicio 23", Icono = "bi bi-diagram-3 ", Descripcion = "Construir una función que reciba como parametro dos enteros y retorne 1 si la diferencia entre los dos valores es un número primo. Deberá retornar 0 si no es asi", Url = "ej023" },
        new Ejercicio { Titulo = "Ejercicio 25", Icono = "bi bi-lightning ", Descripcion = "Construir una función que reciba como parámetro un entero y un digito menor o igual a 5 y retorne el digito del número que se encuentre en la posición especificada por el digito que llego como parametro", Url = "ej025" },
        new Ejercicio { Titulo = "Ejercicio 27", Icono = "bi bi-gear ", Descripcion = "Construir una función que reciba como parámetro un vector de 10 posiciones enteras y retorne la posición en la cual se encuentra el mayor de los datos del vector .", Url = "ej027" },
        new Ejercicio { Titulo = "Ejercicio 29", Icono = "bi bi-filetype-js ", Descripcion = "Construir una función que reciba como parámetro un vector de 10 posiciones enteras y retorne la cantidad de números que pertenecen a los 30 primeros elementos de la serie de Fibonacci .", Url = "ej029" },
        new Ejercicio { Titulo = "Ejercicio 31", Icono = "bi bi-terminal-split ", Descripcion = "Construir una función que reciba como parametro un vector de 10 posiciones erteras y retome el promedio entero del vector .", Url = "ej031" },
        new Ejercicio { Titulo = "Ejercicio 33", Icono = "bi bi-vector-pen ", Descripcion = "Construir una función que reciba como parámetros un vector de 10 posiciones enteras y us valor entero y retome 1 si dicho valor entero se encuentra en et vector. Deberá retornar 0 si no es asi .", Url = "ej033" },
        new Ejercicio { Titulo = "Ejercicio 35", Icono = "bi bi-calculator ", Descripcion = "Construir una función que reciba como parámetro un vector de 10 posiciones enteras y retorne la posición en la que se encuentre el mayor número primo que termine en 3 almacenado en el vector.", Url = "ej035" },
        new Ejercicio { Titulo = "Ejercicio 37", Icono = "bi bi-bar-chart", Descripcion = "Construir una función que reciba como parámetros dos enteros, el primero actuará como base y el segundo como exponente y retorne el resultado de elevar dicha base a dicho exponente.", Url = "ej037" },
        new Ejercicio { Titulo = "Ejercicio 39", Icono = "bi bi-code-slash ", Descripcion = "Construir una función que reciba como parámetros un vector de 10 posiciones enteras y un digito y que retorne la cantidad de veces que dicho digito se encuentra en el vector. No se olvide que un mismo digito puede estar vanas veces en un solo número.", Url = "ej039" },
        new Ejercicio { Titulo = "Ejercicio 41", Icono = "bi bi-filetype-html ", Descripcion = "Construir una función que reciba como parametro un vector de 10 posiciones enteras y un digito y que retorne la cantidad de números del vector en donde dicho digito está de penúltimo.", Url = "ej041" },
        new Ejercicio { Titulo = "Ejercicio 43", Icono = "bi bi-link ", Descripcion = "Construir una función que reciba como parámetro una matriz 3x4 entera y retorne la cantidad de numeros primos almacenados en la matriz.", Url = "ej043" },
        new Ejercicio { Titulo = "Ejercicio 45", Icono = "bi bi-braces-asterisk ", Descripcion = "Construir una función que reciba como parámetros una matriz 4x4 entera y un valor entero y retorne la cantidad de veces que se repite dicho valor en la matriz.", Url = "ej045" },
        new Ejercicio { Titulo = "Ejercicio 47", Icono = "bi bi-check-square", Descripcion = "Construir una función que reciba como parametro una matriz 4x4 entera y retorne el número de la columna en donde se encuentre por primera vez el número mayor de la matriz.", Url = "ej047" },
        new Ejercicio { Titulo = "Ejercicio 49", Icono = "bi bi-grid ", Descripcion = "Construir una función que reciba una matriz 5x5 y retorne el valor de su moda. La moda de un conjunto de datos es el dato que mas se repite.", Url = "ej049" },


















    };
}